<style>
                        a{
                                text-decoration: none;
                                color: black;
                        }
                        a:hover{
                                text-decoration: none;
                                color:black;
                        }
                        a:visited{
                                text-decoration: none;
                                color:black;
                        }
                        #cardHolder{
                                border-style: double;
                                border-width: 15px;
                                border-color: {{borderColor}};
                                margin-left: 15px;
                        }
                        .row-eq-height {
                                display: -webkit-box;
                                display: -webkit-flex;
                                display: -ms-flexbox;
                                display:         flex;
                        }
</style>
