<style>
	.obscurer {
                position: relative;
        }
	.obscurer:after{
		content: " ";
		z-index: 10;
		display: block;
		position: absolute;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		background-image: url("/static/PackCover.png");
		background-size: cover;
		opacity: 1;
	}

	.revealer {
                position: relative;
        }
        .revealer:after{
                content: " ";
                z-index: 10;
                display: block;
                position: absolute;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                background-image: url("/static/PackCover.png");
		background-size: cover;
		opacity: 1;
		-webkit-animation:fadeIn 2s;
		-ms-animation:fadeIn 2s;
		-o-animation:fadeIn 2s;
		animation:fadeIn 2s;
		-webkit-animation-fill-mode: forwards;
		-ms-animation-fill-mode: forwards;
		-o-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
        }

@-webkit-keyframes fadeIn {
0% {opacity: 1;}
50% {opacity: 0.5;}
100% {opacity: 0;}
}
@-webkit-keyframes fadeIn {
0% {opacity: 1;}
50% {opacity: 0.5;}
100% {opacity: 0;}
}
@-webkit-keyframes fadeIn {
0% {opacity: 1;}
50% {opacity: 0.5;}
100% {opacity: 0;}
}
@-webkit-keyframes fadeIn {
0% {opacity: 1;}
50% {opacity: 0.5;}
100% {opacity: 0;}
}
</style>
